<div class="main-content bg-default">
	<!-- Navbar -->
	<app-nav2></app-nav2>
	<!-- Header -->
	<app-header></app-header>
	<!-- Page content -->
	<div class="container mt--8 pb-5">
		<div class="row justify-content-center">
			<div class="col-lg-12 col-md-7">
				<div class="card bg-secondary shadow border-0">
					<div id="notfound">
            <div class="notfound">
              <div class="notfound-404">
                <div></div>
                <h1>404</h1>
              </div>
              <h2>Page not found</h2>
              <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
              <div class="text-center">
                <a routerLink="/" class="btn btn-primary my-4">Homepage</a>
              </div>
            </div>
          </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Footer -->
<app-footer2></app-footer2>
